@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    background-color: rgb(29, 29, 29);
    color: rgb(167, 167, 167);
    font-family: 'Open Sans';
}

input,
textarea,
button {
    font-family: inherit;
}

.messageDateTime {
    font-size: 10px;

    vertical-align: bottom;
    width: 100%;
    color: rgb(138, 138, 138);
}

.messageData {
    width: 100%;
    font-size: 14px;
}

.messageHistory {
    outline: 2px;
    background: rgb(51, 51, 51);
    color: rgb(209, 209, 209);
    border-radius: 5px;
    overflow-y: auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 80vh;

}

.usernameData {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 250%;
    margin-left: 1%;

}
.usernameData:hover{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.sendContainer {
    border-radius: 5px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 10vh;
    display: flex;
    flex-direction: row;
    background: rgb(116, 116, 116);

}

.sendContainer textarea {

    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    box-sizing: border-box;
    width: 90%;
    margin: 0.5% 0.5% 0.5% 0.5%;
}

.sendContainer button {
    flex: 1;
    border-radius: 0px 5px 5px 0px;
    background-color: rgb(75, 75, 75);
}


.messageHistoryTable {
    margin: 0.5% 0.5% 0.5% 0.5%;
}

.chatContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-height: 100vh;
    flex-direction: column;

}

.chatWindowContainer {
    width: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 80vh;

}

.welcomeContainer,
.signUpContainer {
    display: flex;
    margin: auto auto;
    flex-direction: column;
    max-width: 768px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    min-height: 100vh;
}

.welcomePageTitle {
    font-size: 300%;
    color: white;
    font-weight: bold;
}

.signUpPageTitle {
    font-size: 200%;
    color: white;
    font-weight: bold;
}

.welcomePageHeader {
    font-size: 120%;
}

.appContainer {
    min-height: 100vh;
    max-height: 100vh;

}

.messageContainer {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    margin-bottom: 1%
}

button {
    background-color: rgb(95, 95, 95);
    outline-color: black;
    outline: black;
    color: rgb(218, 218, 218);
    border: none;

    font-size: 110%
}

#login,
#submit {
    width: 100%;
    padding: 5% 5%;
}

.welcomeContainer input,
.signUpContainer input {
    padding: 5% 5%;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 110%;
}

.signUpContainer input {
    padding: 3% 5%;
}


button:hover:enabled {
    background-color: rgb(126, 126, 126);
    cursor: pointer;

}

button:disabled {

    color: rgb(124, 124, 124);
}

.loginScreenContainer {
    display: flex;
    flex-direction: column;
    flex: fill;
    text-align: center;
    width: 50%;
}

.signUpPageInputContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
}

*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #888;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
}

.settingsBarContainer {
    background-color: rgb(20, 20, 20);
    flex-shrink: 1;
    flex-basis: 5vh;
    flex-direction: row;
    max-height: 5vh;
    min-height: 5vh;
    border-radius: 5px 5px 5px 5px;
    border: rgb(8, 8, 8);
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settingsBarContainer img {
    max-width: 80%;
    max-height: 4vh;
    margin: auto;
    display: block;
    object-fit: contain;
    align-self: center;
}

.settingsBarContainer>* {
    flex: 1;
}

.settingsBarIconContainer {
    max-height: 90%;
    vertical-align: middle;

}

.settingsBarIconContainer img:hover {
    background-color: rgb(121, 121, 121);
    border-radius: 5px;
    cursor: pointer
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalMain {
    background-color: rgb(71, 71, 71);
    height: 70%;
    width: 80%;
    border-radius: 5px;
}

.modalMain:has(div.logoutWindow) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.display-none {
    display: none;
}

.logoutWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoutConfirmationMessage {
    color: white;
    font-size: 150%;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 10%;
}


.settingsWindow {
    overflow-y: scroll;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-content: center;
}
.settingsWindow *{
    margin: 1%;
}

.settingsWindow input {
    width: 50%;
}

.settingsBarItemContainer {
    align-items: center;
    text-align: center;
    align-content: center;
    height: 100%;
    
    display: flex;
    flex-direction: column;
}

.settingsBarItemContainer>* {
    flex: 1;
}

.settingsWindowTitle {
    font-size: 250%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.profilePicture {
    max-height: 45px;
    min-width: 45px;
}

.messageBlockHeader {
    display: flex;
    flex-direction: row;
    height: 45px;

}

.profilePictureContainer {
    overflow: hidden;
    border-color: rgb(138, 138, 138);
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    height: 45px;
    width: 45px;

}

.logoutButton {
    background-color: rgb(155, 2, 2);
}


.connectedMessage, .disconnectMessage{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 1.2em;
}
.disconnectMessage {
    color: red;  
}
.connectedMessage{
    color:green;
}
@media (min-width: 0px) and (max-width: 345px) {
    .connectedMessage, .disconnectMessage {
      font-size: 1px;
    }
}
  @media (max-width: 714px) {
    .connectedMessage, .disconnectMessage {
      font-size: 0.9em;
    }
  }
  
.disconnectMessage:hover {
    background-color: rgb(121, 121, 121);
    border-radius: 5px;
    cursor: pointer
}
.colorPicker {
    margin-top: 0.5%;
}
.colorPickerContainer{
    display: inline-block;
    margin: 1%;
}


